<!doctype html>
<html lang="en">
<head>
  <title>NWTracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="Project-Management.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body style=" margin-left: 300px;">
  <h1 class="Title">Project Management</h1>
  <p *ngIf="!Projects"><em>Loading...</em></p>
    <form (submit)="onSubmit(projectName.value)">
      <label for="lname">Project Name:</label>
      <input type="text" id="projectName" name="projectName" #projectName required />
      <input class="button" type="submit" value="Create New Project"/>
    </form>
  <table class='Project-Table' *ngIf="paginatedProjects && paginatedProjects.length">
    <tr class="Title-Row">
      <td> Project Name </td>
      <td> Select Project </td>
      <td> Rename Project </td>
      <td> Delete Project </td>
    </tr>
    <tbody *ngFor="let project of paginatedProjects">
      <tr>
        <td class="Project-Name-td">
          {{ project.projectName }}
        <td class="Link-Buttons">
          <button id="ProjectSelectButton" (click)="selectProject(project)">
            Select {{ project.projectName }}
          </button>
        </td>
        <td class="Link-Buttons"><input type="text" id="Rename" name="Rename"> </td>
        <td class="Delete-Button" (click)="DeleteRecord(project)">
          <i class="bi bi-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-controls" *ngIf="Projects && Projects.length > pageSize">
    <button class="button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}} of {{totalPages}}</span>
    <button class="button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</body>
</html>
