<!doctype html>
<html lang="en">
<head>
  <title>NWTracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <h1 class="Title">Projects</h1>
  <p *ngIf="!Projects"><em>Loading...</em></p>
    <form (submit)="onSubmit(projectName.value)">
      <label for="lname">Project Name:</label>
      <input type="text" id="projectName" name="projectName" #projectName required />
      <input class="button" type="submit" value="Create New Project"/>
    </form>
  <table class='Project-Table' *ngIf="paginatedProjects && paginatedProjects.length">
    <tr class="Title-Row">
      <td> Project Name </td>
      <td> Records </td>
      <td> Data Collection </td>
      <td> Surveys Booked </td>
      <td> Installs Booked </td>
      <td> Summary Report </td>
      <td> Financial Summary </td>
      <td> Program </td>
      <td> Delete Project </td>
    </tr>
    <tbody *ngFor="let project of paginatedProjects">
      <tr>
        <td class="Project-Name-td">
          {{ project.projectName }}
        <td>
            <a [routerLink]="['/project-records-page']" [queryParams]="{ projectName: project.projectName, nW_PK: project.nW_PK }">
              {{ project.projectName }}  <br /> Records
            </a>
        </td>
        <td class="Link-Buttons"><a> {{ project.projectName }}  <br /> Data </a> </td>
        <td class="Link-Buttons"><a> {{ project.projectName }}  <br /> Surveys </a> </td>
        <td class="Link-Buttons"><a> {{ project.projectName }}  <br /> Installs </a> </td>
        <td class="Link-Buttons"><a> {{ project.projectName }}  <br /> Report </a> </td>
        <td class="Link-Buttons"><a> {{ project.projectName }}  <br /> Summary </a> </td>
        <td class="Link-Buttons"><a> {{ project.projectName }}  <br /> Program </a> </td>
        <td class="Delete-Button"> <i class="bi bi-trash"></i> </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-controls" *ngIf="Projects && Projects.length > pageSize">
    <button class="button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}} of {{totalPages}}</span>
    <button class="button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</body>
</html>
