<!doctype html>
<html lang="en">
<head>
  <title>NWTracker Data-Collection Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="Data-Collection.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body style="margin-left: 300px;">
  <h1 class="Title"> Data-Collection </h1>
  <div class="table-container">
    <table>
      <tr>
        <th class="purple">
          0
        </th>
        <th class="purple">
          Total Properties
        </th>
        <th class="purple">
          Total Elements
        </th>
        <th class="purple"></th>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Commencement Pending
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          On Hold
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Survey Booked
        </td>
        <td>
          Case
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Scope Survey
        </td>
        <td>
          Tilt Turn
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Survey Recieved
        </td>
        <td>
          Fully Reverse
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          PM To Cleanse
        </td>
        <td>
          Vert Slider
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Survey in Vision, PM to cleanse
        </td>
        <td>
          Fire
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Cleansed
        </td>
        <td>
          Cavity Closer
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Sent For Pricing
        </td>
        <td>
          Single
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Priced
        </td>
        <td>
          Double
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Await Client Approval
        </td>
        <td>
          Bi-Fold
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Called Off
        </td>
        <td>
          In Line Slider
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Delivered to Depot/Container
        </td>
        <td>
          Front Solid GRP
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Booked to Fit
        </td>
        <td>
          Fron Glazed GRP
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Part Fitted
        </td>
        <td>
          Rear Solid GRP
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Fitted
        </td>
        <td>
          Rear Glazed GRP
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Handed Over
        </td>
        <td>
          Solid Fire
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Cancelled
        </td>
        <td>
          Glazed Fire
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          NWR
        </td>
        <td>
          Basic Shed
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          No Access Survey
        </td>
        <td>
          INT Top Light
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          No Access Install
        </td>
        <td>
          Seperate Top Light
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Refusal
        </td>
        <td>
          Side Light
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Handed Back
        </td>
        <td>
          Communal Door
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Duplicate
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Supply Only
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Recall Required
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Failed Install
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          Total Properties
        </td>
        <td> Total Elements</td>
        <td> 0 </td>
      </tr>
    </table>

    <table>
      <tr>
        <th class="purple">
          No Access Figures - Survey
        </th>
        <th class="purple"></th>
      </tr>
      <tr>
        <td>
          Properties With Survey No Access
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          No Access Stage 1
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          No Access Stage 2
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          No Access Stage 3
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          Handed Back
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <th class="purple">
          No Access Figures - Installation
        </th>
        <th class="purple"></th>
      </tr>
      <tr>
        <td>
          Properties With Installation No Access
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          No Access Stage 1
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          No Access Stage 2
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          No Access Stage 3
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          Handed Back
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <th class="purple">
          Client Hold Status
        </th>
        <th class="purple">
        </th>
      </tr>
      <tr>
        <td>
          0
        </td>
        <td>
          client Issue
        </td>
      </tr>
    </table>

    <table style="height:150px;">
      <tr>
        <th class="purple">
        </th>
        <th class="purple">
          Start
        </th>
        <th class="purple">
          Finish
        </th>
        <th class="purple">
          Approx Working Days
        </th>
        <th class="purple">
          Targeted Properties Per Day
        </th>
      </tr>
      <tr>
        <th class="TitleDiv">Project Constratints</th>
        <td>
          00-Jan-01
        </td>
        <td>
          00-Jan-01
        </td>
        <td> 0 days </td>
        <td> 0.00</td>
      </tr>
      <tr>
        <th class="TitleDiv">Time Elapsed</th>
        <td>
        </td>
        <td>
          0.00%
        </td>
        <td> 0 days </td>
        <td></td>
      </tr>
      <tr>
        <th class="purple">Targeted</th>
        <th class="purple">
          Targeted Handovers
        </th>
        <th class="purple">
          Handovers Achieved
        </th>
        <td class="purple"></td>
        <td class="purple"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          0 Properties
        </td>
        <td>
          0 Properties
        </td>
        <td> 0.00 %</td>
        <td></td>
      </tr>
    </table>
    </div>
</body>
</html>
