.Title {
  width: 100%;
  background-color: #653E85;
  text-align: center;
  padding: 15px;
  color: white;
  margin-bottom: 20px;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #653E85;
  border: 1px #653E85 solid;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

  .button:hover {
    background-color: #4E2E6B;
  }

.tracker-data{
    margin-left: 25%;
    text-align:center;
    width:50%;
    background-color: #ddd;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1 {
    font-weight:600;
}
h3 {
  font-size:1.5rem;
}
form label {
  display: block;
  padding-bottom: 5px;
}
.delete-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: darkred;
  border: 1px darkred solid;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
  .delete-button:hover {
    background-color: #7B1818;
  }
