<!doctype html>
<html lang="en">
<head>
  <title>NWTracker Project Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="record-edit-page.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>

  <h1 class="Title"> Record Edit Page: {{ RecordPK }} </h1>

  <button class="button" [routerLink]="['/project-records-page']" [queryParams]="{ projectName: Project_Name, nW_PK: Project_PK }"> Go Back </button>

  <div *ngIf="!isEditing && Tracker" class="tracker-data">
    <h1>Tracker Details</h1>
    <ul>
      <h3> General Information </h3>
      <p class="General Information">
      <li><strong>Tracker PK:</strong> {{ Tracker.tT_PK }}</li>
      <li><strong>Project Number:</strong> {{ Tracker.tT_NW_FK }}</li>
      <li><strong>DPIRFC:</strong> {{ Tracker.tT_DPIRFC }}</li>
      <li><strong>UPRN:</strong> {{ Tracker.tT_UPRN }}</li>
      <li><strong>Priority Order:</strong> {{ Tracker.tT_PRIORITY_ORDER }}</li>
      <li><strong>Status:</strong> {{ Tracker.tT_STATUS }}</li>
      <li><strong>Notes:</strong> {{ Tracker.tT_NOTES }}</li>
      <li><strong>Comments:</strong> {{ Tracker.tT_COMMENTS }}</li>
      <li><strong>Lintel Works Required:</strong> {{ Tracker.tT_LINTEL_WORKS_REQUIRED}}</li>
      <li><strong>Access Equipment Required:</strong> {{ Tracker.tT_ACCESS_EQUIPMENT_REQUIRED }}</li>
      <li><strong>Property Construction Type:</strong> {{ Tracker.tT_PROPERTY_CONSTRUCTION_TYPE }}</li>
      </p>

      <h3> Address </h3>
      <p class="Address">
      <li><strong>House Number:</strong> {{ Tracker.tT_HOUSE_NUMBER }}</li>
      <li><strong>Street:</strong> {{ Tracker.tT_STREET }}</li>
      </p>

      <h3> Lease Holder </h3>
      <p class="Lease Holder">
      <li><strong>Lease Holder House Number:</strong><span> {{ Tracker.tT_LEASE_HOLDER_HOUSE_NUMBER }}</span></li>
      <li><strong>Lease Holder Street:</strong> {{ Tracker.tT_LEASE_HOLDER_STREET }}</li>
      <li><strong>Lease Holder Town:</strong> {{ Tracker.leasE_HOLDER_TOWN }}</li>
      <li><strong>Lease Holder Country:</strong> {{ Tracker.leasE_HOLDER_COUNTRY }}</li>
      <li><strong>Lease Holder Postcode:</strong> {{ Tracker.leasE_HOLDER_POSTCODE }}</li>
      <li><strong>Lease Holder Name:</strong> {{ Tracker.leasE_HOLDER_NAME }}</li>
      <li><strong>Lease Holder Primary Phone:</strong> {{ Tracker.leasE_HOLDER_PRIMARY_PHONE }}</li>
      <li><strong>Lease Holder Secondary Phone:</strong> {{ Tracker.leasE_HOLDER_SECONDARY_PHONE }}</li>
      <li><strong>Lease Holder Email:</strong> {{ Tracker.leasE_HOLDER_EMAIL }}</li>
      </p>

      <h3> Call-Off and Delivery Details </h3>
      <p class="Call-Off and Delivery Details">
      <li><strong>Call Off Number:</strong> {{ Tracker.tT_CALL_OFF_NUMBER }}</li>
      <li><strong>Called Off Date:</strong> {{ Tracker.tT_CALLED_OFF_DATE | date }}</li>
      <li><strong>Delivery Date:</strong> {{ Tracker.tT_DELIVERY_DATE | date }}</li>
      <li><strong>Delivery Point:</strong> {{ Tracker.tT_DELIVERY_POINT }}</li>
      <li><strong>Delivery Note Received:</strong> {{ Tracker.tT_DELIVERY_NOTE_RECEIVED }}</li>
      </p>

      <h3> Installation Details </h3>
      <p class="Installation Details">
      <li><strong>Scheduled Fitting Date:</strong> {{ Tracker.tT_SCHEDULED_FITTING_DATE | date }}</li>
      <li><strong>AM or PM Appointment:</strong> {{ Tracker.tT_AMORPMAPPOINTMENT }}</li>
      <li><strong>Route March Order:</strong> {{ Tracker.tT_ROUTE_MARCH_ORDER }}</li>
      <li><strong>Install Access Attempts:</strong> {{ Tracker.tT_INSTALL_ACCESS_ATTEMPTS }}</li>
      <li><strong>Primary Installer:</strong> {{ Tracker.tT_PRIMARY_INSTALLER }}</li>
      <li><strong>Secondary Installer:</strong> {{ Tracker.tT_SECONDARY_INSTALLER }}</li>
      <li><strong>Installation Related Comments:</strong> {{ Tracker.tT_INSTALLATION_RELATED_COMMENTS }}</li>
      <li><strong>Installation Sheet Received:</strong> {{ Tracker.tT_INSTALLATION_SHEET_RECEIVED}}</li>
      </p>

      <h3> Variation and Inspection Details </h3>
      <p class="Variation and Inspection Details">
      <li><strong>Survey Identified Comments:</strong> {{ Tracker.tT_SURVEY_IDENTIFIED_COMMENTS }}</li>
      <li><strong>Variation Details:</strong> {{ Tracker.tT_VARIATION_DETAILS }}</li>
      <li><strong>Variation Order Number:</strong> {{ Tracker.tT_VARIATION_ORDER_NUMBER }}</li>
      <li><strong>Date Handed Over:</strong> {{ Tracker.tT_DATE_HANDED_OVER | date }}</li>
      <li><strong>Inspected By:</strong> {{ Tracker.tT_INSPECTED_BY }}</li>
      <li><strong>Install Wages Applied For:</strong> {{ Tracker.tT_INSTALL_WAGES_APPLIED_FOR }}</li>
      <br />
      </p>
      <button class="button" (click)="isEditing = !isEditing">{{ isEditing ? 'Cancel' : 'Edit' }}</button>
      <button class="delete-button" (click)="DeleteRecord(Tracker.tT_PK); $event.stopPropagation()" [routerLink]="['/project-records-page']" [queryParams]="{ projectName: Project_Name, nW_PK: Project_PK }">
        <i class="bi bi-trash">Delete</i>
      </button>
    </ul>
  </div>

  <div *ngIf="isEditing && Tracker" class="tracker-data">
    <h1>Edit Tracker Details</h1>
    <form>
      <h3> General Information </h3>
      <p class="General Information">
        <strong>Tracker PK:</strong> {{ Tracker.tT_PK }} <br />
        <label>
          Project Number:
          <input type="text" [(ngModel)]="Tracker.tT_NW_FK" name="tT_NW_FK">
        </label>
        <label>
          DPIRFC:
          <input type="text" [(ngModel)]="Tracker.tT_DPIRFC" name="tT_DPIRFC">
        </label>
        <label>
          UPRN:
          <input type="text" [(ngModel)]="Tracker.tT_UPRN" name="tT_UPRN">
        </label>
        <label>
          Priority Order:
          <input type="number" [(ngModel)]="Tracker.tT_PRIORITY_ORDER" name="tT_PRIORITY_ORDER">
        </label>
        <label>
          Status:
          <select [(ngModel)]="Tracker.tT_STATUS" name="tT_STATUS">
            <option value="1">COMMENCEMENT PENDING</option>
            <option value="2">ON HOLD</option>
            <option value="3">SURVEY BOOKED</option>
            <option value="4">SCOPE SURVEY</option>
            <option value="5">SURVEY RECEIVED</option>
            <option value="6">PM TO CLEANSE</option>
            <option value="7">Survey In Vision, PM to clean</option>
            <option value="8">CLEANSED</option>
            <option value="9">SENT FOR PRICING</option>
            <option value="10">PRICED</option>
            <option value="11">AWAIT CLIENT APPROVAL</option>
            <option value="12">CALLED OFF</option>
            <option value="13">DELIVERED TO DEPOT/CONTAINER</option>
            <option value="14">BOOKED TO FIT</option>
            <option value="15">PART FITTED</option>
            <option value="16">FITTED</option>
            <option value="17">HANDED OVER</option>
            <option value="18">CANCELLED</option>
            <option value="19">NWR</option>
            <option value="20">NO ACCESS SURVEY</option>
            <option value="21">NO ACCESS INSTALL</option>
            <option value="22">REFUSAL</option>
            <option value="23">HANDED BACK</option>
            <option value="24">DUPLICATE</option>
            <option value="25">SUPPLY ONLY</option>
            <option value="26">RECALL REQUIRED</option>
            <option value="27">FAILED INSTALL</option>
            <option value="28">SURVEY</option>
          </select>
        </label>
        <label>
          Notes:
          <input type="text" [(ngModel)]="Tracker.tT_NOTES" name="tT_NOTES">
        </label>
        <label>
          Comments:
          <input type="text" [(ngModel)]="Tracker.tT_COMMENTS" name="tT_COMMENTS">
        </label>
        <label>
          Lintel Works Required:
          <select [(ngModel)]="Tracker.tT_LINTEL_WORKS_REQUIRED" name="tT_LINTEL_WORKS_REQUIRED">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </label>
        <label>
          Access Equipment Required:
          <select [(ngModel)]="Tracker.tT_ACCESS_EQUIPMENT_REQUIRED" name="tT_ACCESS_EQUIPMENT_REQUIRED">
            <option value="0">False</option>
            <option value="1">True</option>
          </select>
        </label>
        <label>
          Property Construction Type:
          <select [(ngModel)]="Tracker.tT_PROPERTY_CONSTRUCTION_TYPE" name="tT_PROPERTY_CONSTRUCTION_TYPE">
            <option value="1">House</option>
            <option value="2">Flat</option>
            <option value="3">Bungalow</option>
            <option value="4">Communal</option>
            <option value="5">Terrace</option>
          </select>
        </label>

        <h3> Address </h3>
      <p class="Address">
        <label>
          House Number:
          <input type="text" [(ngModel)]="Tracker.tT_HOUSE_NUMBER" name="tT_HOUSE_NUMBER">
        </label>
        <label>
          Street:
          <input type="text" [(ngModel)]="Tracker.tT_STREET" name="tT_STREET">
        </label>

        <h3> Lease Holder </h3>
      <p class="Lease Holder">
        <label>
          Lease Holder House Number:
          <input type="text" [(ngModel)]="Tracker.tT_LEASE_HOLDER_HOUSE_NUMBER" name="tT_LEASE_HOLDER_HOUSE_NUMBER">
        </label>
        <label>
          Lease Holder Street:
          <input type="text" [(ngModel)]="Tracker.tT_LEASE_HOLDER_STREET" name="tT_LEASE_HOLDER_STREET">
        </label>
        <label>
          Lease Holder Town:
          <input type="text" [(ngModel)]="Tracker.leasE_HOLDER_TOWN" name="leasE_HOLDER_TOWN">
        </label>
        <label>
          Lease Holder Country:
          <input type="text" [(ngModel)]="Tracker.leasE_HOLDER_COUNTRY" name="leasE_HOLDER_COUNTRY">
        </label>
        <label>
          Lease Holder Postcode:
          <input type="text" [(ngModel)]="Tracker.leasE_HOLDER_POSTCODE" name="leasE_HOLDER_POSTCODE">
        </label>
        <label>
          Lease Holder Name:
          <input type="text" [(ngModel)]="Tracker.leasE_HOLDER_NAME" name="leasE_HOLDER_NAME">
        </label>
        <label>
          Lease Holder Primary Phone:
          <input type="tel" [(ngModel)]="Tracker.leasE_HOLDER_PRIMARY_PHONE" name="leasE_HOLDER_PRIMARY_PHONE">
        </label>
        <label>
          Lease Holder Secondary Phone:
          <input type="tel" [(ngModel)]="Tracker.leasE_HOLDER_SECONDARY_PHONE" name="leasE_HOLDER_SECONDARY_PHONE">
        </label>
        <label>
          Lease Holder Email:
          <input type="email" [(ngModel)]="Tracker.leasE_HOLDER_EMAIL" name="leasE_HOLDER_EMAIL">
        </label>

        <h3> Call-Off and Delivery Details  </h3>
      <p class="Call-Off and Delivery Details">
        <label>
          Call Off Number:
          <input type="text" [(ngModel)]="Tracker.tT_CALL_OFF_NUMBER" name="tT_CALL_OFF_NUMBER">
        </label>
        <label>
          Called Off Date:
          <input type="date" [(ngModel)]="Tracker.tT_CALLED_OFF_DATE" name="tT_CALLED_OFF_DATE">
        </label>
        <label>
          Delivery Date:
          <input type="date" [(ngModel)]="Tracker.tT_DELIVERY_DATE" name="tT_DELIVERY_DATE">
        </label>
        <label>
          Delivery Point:
          <select [(ngModel)]="Tracker.tT_DELIVERY_POINT" name="tT_DELIVERY_POINT">
            <option value="1">Depot</option>
            <option value="2">Container</option>
          </select>
        </label>
        <label>
          Delivery Note Received:
          <select [(ngModel)]="Tracker.tT_DELIVERY_NOTE_RECEIVED" name="tT_DELIVERY_NOTE_RECEIVED">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </label>

        <h3> Installation Details </h3>
      <p class="Installation Details">
        <label>
          Scheduled Fitting Date:
          <input type="date" [(ngModel)]="Tracker.tT_SCHEDULED_FITTING_DATE" name="tT_SCHEDULED_FITTING_DATE">
        </label>
        <label>
          AM or PM Appointment:
          <select [(ngModel)]="Tracker.tT_AMORPMAPPOINTMENT" name="Tracker.tT_AMORPMAPPOINTMENT">
            <option value="0">AM</option>
            <option value="1">PM</option>
          </select>
        </label>
        <label>
          Route March Order:
          <input type="text" [(ngModel)]="Tracker.tT_ROUTE_MARCH_ORDER" name="tT_ROUTE_MARCH_ORDER">
        </label>
        <label>
          Install Access Attempts:
          <input type="number" [(ngModel)]="Tracker.tT_INSTALL_ACCESS_ATTEMPTS" name="tT_INSTALL_ACCESS_ATTEMPTS">
        </label>
        <label>
          Primary Installer:
          <input type="text" [(ngModel)]="Tracker.tT_PRIMARY_INSTALLER" name="tT_PRIMARY_INSTALLER">
        </label>
        <label>
          Secondary Installer:
          <input type="text" [(ngModel)]="Tracker.tT_SECONDARY_INSTALLER" name="tT_SECONDARY_INSTALLER">
        </label>
        <label>
          Installation Related Comments:
          <input type="text" [(ngModel)]="Tracker.tT_INSTALLATION_RELATED_COMMENTS" name="tT_INSTALLATION_RELATED_COMMENTS">
        </label>
        <label>
          Installation Sheet Received:
          <select [(ngModel)]="Tracker.tT_INSTALLATION_SHEET_RECEIVED" name="Tracker.tT_INSTALLATION_SHEET_RECEIVED">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </label>

        <h3> Variation and Inspection Details </h3>
      <p class="Variation and Inspection Details">
        <label>
          Survey Identified Comments:
          <input type="text" [(ngModel)]="Tracker.tT_SURVEY_IDENTIFIED_COMMENTS" name="tT_SURVEY_IDENTIFIED_COMMENTS">
        </label>
        <label>
          Variation Details:
          <input type="text" [(ngModel)]="Tracker.tT_VARIATION_DETAILS" name="tT_VARIATION_DETAILS">
        </label>
        <label>
          Variation Order Number:
          <input type="text" [(ngModel)]="Tracker.tT_VARIATION_ORDER_NUMBER" name="tT_VARIATION_ORDER_NUMBER">
        </label>
        <label>
          Date Handed Over:
          <input type="date" [(ngModel)]="Tracker.tT_DATE_HANDED_OVER" name="tT_DATE_HANDED_OVER">
        </label>
        <label>
          Inspected By:
          <input type="text" [(ngModel)]="Tracker.tT_INSPECTED_BY" name="tT_INSPECTED_BY">
        </label>
        <label>
          Install Wages Applied For:
          <input type="text" [(ngModel)]="Tracker.tT_INSTALL_WAGES_APPLIED_FOR" name="tT_INSTALL_WAGES_APPLIED_FOR">
        </label>

        <br />
        <button class="button" (click)="isEditing = !isEditing">{{ isEditing ? 'Cancel' : 'Edit' }}</button>

        <button type="button" class="button" (click)="saveChanges()">Save</button>

        <button class="delete-button" [routerLink]="['/project-records-page']" [queryParams]="{ projectName: Project_Name, nW_PK: Project_PK }" (click)="DeleteRecord(Tracker.tT_PK); $event.stopPropagation()">
          <i class="bi bi-trash">Delete</i>
        </button>
</form>

  </div>
