html {
  font-size: 14px;
  background-color: #989898;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  padding-top: 80px;
  margin: 0;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #989898;
}

.container-fluid {
  height: 80px;
  padding: 0px;
  margin: 0px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 32px;
  padding-left: 20px;
  color: white;
  padding-bottom: 0px;
}

  a.navbar-brand:hover {
    color: rebeccapurple !important;
  }

.clock {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
}

.nav-link {
  color: white !important;
  font-size: 24px;
}

.bi {
  font-size: 30px;
}

.bi-inbox,
.bi-person-circle,
.bi-gear {
  font-size: 30px;
  color: white;
}

  .bi-gear:hover {
    color: rebeccapurple !important;
  }

  .bi-inbox:hover {
    color: rebeccapurple !important;
  }

.nav-item {
  padding: 10px;
}

.nav-time {
  color: white !important;
  font-size: 24px;
}

.nav-link:hover {
  color: rebeccapurple !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.NW {
  font-weight: 1000;
}

.bg-white {
  background-color: #989898 !important;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-start;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.container {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-side {
  color: white;
  padding-right: 200px;
}

.ProjectSelected {
  padding-left: 60px;
  font-size: 24px;
}

.Project {
  font-size: 18px;
  background-color: #494949;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 200px;
  margin-left: 10px;
}
img {
  width: 206px;
  height: 127px;
  padding-left: 20px;
  padding-right: 20px;
}
