<header>
  <div class="sidebar">
    <span class="section-heading">Tracker</span>

    <a href="#home">Client Tracker</a>
    <a href="#news">Financial Summary</a>
    <a href="#contact">Project Gantt</a>
    <a href="#about">Data Collection</a>
    <a href="#about">Surveys</a>
    <a href="#about">Installs</a>
    <a href="#about"  style=" border-bottom: 1px solid black;">Report</a>

    <span class="section-heading">Admin</span>

    <a href="#about">Project Management</a>
    <a href="#about">Profile Management</a>

  </div>
</header>
